.fadeGallery{
	position: relative;
	.panel{
		position: absolute;z-index:1;width: 100%;
		img{max-width:100%;max-height:100%;}
		&.active{z-index:2}
	}
	.media_item, .item, .img{top:0;left:0;position:absolute;}
	.loader{display: none;position: absolute;bottom:18px;right:18px;color: #fff;z-index: 3;}
	&.loading{
		.loader{display: block;}
	}
}